@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.clip-your-needful-style {
		clip-path: circle(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
	}
}

a:link,
a:visited {
	text-decoration: none;

	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color: white;
}
