@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
